<a href="https://colab.research.google.com/github/ShivaniPabba03/ADM/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/employee_data.csv')
print("Original Dataset:")
print(df)

Original Dataset:
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [ ]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [ ]:
df.isnull().sum()

Employee_ID             0
Age                     5
Salary                  5
Job_Satisfaction       10
Work_Hours_Per_Week     0
dtype: int64

In [ ]:
df['Salary'].mean()

72349.2

In [ ]:
df['Job_Satisfaction'].mean()

5.55

In [ ]:
df['Work_Hours_Per_Week'].mean()

44.72

In [ ]:
df['Work_Hours_Per_Week'].mode()

0    46
Name: Work_Hours_Per_Week, dtype: int64

In [ ]:
df['Work_Hours_Per_Week'].median()

46.0

In [ ]:
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

<ipython-input-11-8332c1905e34>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)

In [ ]:
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [ ]:
df['Job_Satisfaction'] = df['Job_Satisfaction'].fillna(df['Job_Satisfaction'].mean())

In [ ]:
df['Work_Hours_Per_Week'] = df['Work_Hours_Per_Week'].fillna(df['Work_Hours_Per_Week'].mean())

In [ ]:
df

    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0              9.00                   36
1          1002  36.0   82995.0              8.00                   59
2          1003  29.0   70757.0              2.00                   30
3          1004  42.0   39692.0              1.00                   30
4          1005  40.0   75758.0              7.00                   54
5          1006  44.0  102409.0              7.00                   56
6          1007  32.0   72349.2              5.55                   59
7          1008  32.0   95697.0              5.00                   54
8          1009  45.0   67065.0              3.00                   49
9          1010  57.0   72349.2              8.00                   42
10         1011  45.0   41534.0              6.00                   38
11         1012   NaN   70397.0              5.55                   32
12         1013  43.0   31016.0              5.55                   36
13         1014  23.0  119789.0              1.00                   35
14         1015  45.0   85591.0              3.00                   37
15         1016  51.0  119812.0              5.00                   56
16         1017  59.0   53247.0              3.00                   38
17         1018  23.0   54300.0              1.00                   59
18         1019  42.0  104065.0              5.00                   34
19         1020  54.0  112798.0             10.00                   30
20         1021  33.0   39268.0              7.00                   48
21         1022  43.0  116807.0              7.00                   39
22         1023  46.0   42185.0              5.55                   41
23         1024  48.0   93704.0              9.00                   53
24         1025  49.0   72349.2             10.00                   44
25         1026  37.0   69099.0              5.55                   56
26         1027  36.0   72349.2              3.00                   51
27         1028  24.0   68044.0              7.00                   53
28         1029  58.0   81214.0              1.00                   38
29         1030  28.0   91228.0              4.00                   49
30         1031   NaN   78984.0              4.00                   46
31         1032  30.0   70774.0              5.55                   59
32         1033  39.0   32568.0              7.00                   46
33         1034  25.0   92592.0              7.00                   55
34         1035   NaN   97563.0              5.55                   49
35         1036  35.0   32695.0              4.00                   41
36         1037  30.0   78190.0              7.00                   59
37         1038  47.0   35258.0              5.55                   36
38         1039  23.0   72349.2              3.00                   31
39         1040   NaN   69504.0              6.00                   32
40         1041  49.0   63159.0              2.00                   46
41         1042  28.0   43986.0             10.00                   34
42         1043  29.0   91858.0              9.00                   46
43         1044  56.0   42666.0              5.00                   53
44         1045  35.0   68660.0              6.00                   46
45         1046  38.0   33561.0              4.00                   56
46         1047  57.0   56854.0              5.55                   46
47         1048  25.0   94505.0              5.55                   31
48         1049  23.0   82251.0              7.00                   31
49         1050   NaN   52662.0              9.00                   57

In [ ]:
print("Dataset after handling missing values:")
print(df)

Dataset after handling missing values:
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0              9.00                   36
1          1002  36.0   82995.0              8.00                   59
2          1003  29.0   70757.0              2.00                   30
3          1004  42.0   39692.0              1.00                   30
4          1005  40.0   75758.0              7.00                   54
5          1006  44.0  102409.0              7.00                   56
6          1007  32.0   72349.2              5.55                   59
7          1008  32.0   95697.0              5.00                   54
8          1009  45.0   67065.0              3.00                   49
9          1010  57.0   72349.2              8.00                   42
10         1011  45.0   41534.0              6.00                   38
11         1012   NaN   70397.0              5.55                   32
12         1013  43.0   31016.0              5.55                   36
13         1014  23.0  119789.0              1.00                   35
14         1015  45.0   85591.0              3.00                   37
15         1016  51.0  119812.0              5.00                   56
16         1017  59.0   53247.0              3.00                   38
17         1018  23.0   54300.0              1.00                   59
18         1019  42.0  104065.0              5.00                   34
19         1020  54.0  112798.0             10.00                   30
20         1021  33.0   39268.0              7.00                   48
21         1022  43.0  116807.0              7.00                   39
22         1023  46.0   42185.0              5.55                   41
23         1024  48.0   93704.0              9.00                   53
24         1025  49.0   72349.2             10.00                   44
25         1026  37.0   69099.0              5.55                   56
26         1027  36.0   72349.2              3.00                   51
27         1028  24.0   68044.0              7.00                   53
28         1029  58.0   81214.0              1.00                   38
29         1030  28.0   91228.0              4.00                   49
30         1031   NaN   78984.0              4.00                   46
31         1032  30.0   70774.0              5.55                   59
32         1033  39.0   32568.0              7.00                   46
33         1034  25.0   92592.0              7.00                   55
34         1035   NaN   97563.0              5.55                   49
35         1036  35.0   32695.0              4.00                   41
36         1037  30.0   78190.0              7.00                   59
37         1038  47.0   35258.0              5.55                   36
38         1039  23.0   72349.2              3.00                   31
39         1040   NaN   69504.0              6.00                   32
40         1041  49.0   63159.0              2.00                   46
41         1042  28.0   43986.0             10.00                   34
42         1043  29.0   91858.0              9.00                   46
43         1044  56.0   42666.0              5.00                   53
44         1045  35.0   68660.0              6.00                   46
45         1046  38.0   33561.0              4.00                   56
46         1047  57.0   56854.0              5.55                   46
47         1048  25.0   94505.0              5.55                   31
48         1049  23.0   82251.0              7.00                   31
49         1050   NaN   52662.0              9.00                   57

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

In [ ]:
df['Job_Satisfaction'] = (df['Job_Satisfaction'] - df['Job_Satisfaction'].min()) / (df['Job_Satisfaction'].max() - df['Job_Satisfaction'].min())

In [ ]:
from sklearn.preprocessing import StandardScaler

s_scaler = StandardScaler()

In [ ]:
df[['Work_Hours_Per_Week']] = s_scaler.fit_transform(df[[ 'Work_Hours_Per_Week']])

In [ ]:
df['Work_Hours_Per_Week']

0    -0.905969
1     1.483629
2    -1.529343
3    -1.529343
4     0.964151
5     1.171942
6     1.483629
7     0.964151
8     0.444673
9    -0.282596
10   -0.698178
11   -1.321551
12   -0.905969
13   -1.009865
14   -0.802074
15    1.171942
16   -0.698178
17    1.483629
18   -1.113760
19   -1.529343
20    0.340777
21   -0.594283
22   -0.386491
23    0.860255
24   -0.074805
25    1.171942
26    0.652464
27    0.860255
28   -0.698178
29    0.444673
30    0.132986
31    1.483629
32    0.132986
33    1.068046
34    0.444673
35   -0.386491
36    1.483629
37   -0.905969
38   -1.425447
39   -1.321551
40    0.132986
41   -1.113760
42    0.132986
43    0.860255
44    0.132986
45    1.171942
46    0.132986
47   -1.425447
48   -1.425447
49    1.275837
Name: Work_Hours_Per_Week, dtype: float64

In [ ]:
df['Work_Hours_Per_Week'] = (df['Work_Hours_Per_Week'] - df['Work_Hours_Per_Week'].mean()) / df['Work_Hours_Per_Week'].std()

In [ ]:
df

    Employee_ID       Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  0.750000  0.877708          0.888889            -0.896864
1          1002  0.361111  0.585375          0.777778             1.468717
2          1003  0.166667  0.447554          0.111111            -1.513972
3          1004  0.527778  0.097707          0.000000            -1.513972
4          1005  0.472222  0.503874          0.666667             0.954461
5          1006  0.583333  0.804011          0.666667             1.160163
6          1007  0.250000  0.465485          0.505556             1.468717
7          1008  0.250000  0.728422          0.444444             0.954461
8          1009  0.611111  0.405975          0.222222             0.440204
9          1010  0.944444  0.465485          0.777778            -0.279756
10         1011  0.611111  0.118451          0.555556            -0.691161
11         1012       NaN  0.443500          0.505556            -1.308269
12         1013  0.555556  0.000000          0.505556            -0.896864
13         1014  0.000000  0.999741          0.000000            -0.999715
14         1015  0.611111  0.614611          0.222222            -0.794012
15         1016  0.777778  1.000000          0.444444             1.160163
16         1017  1.000000  0.250360          0.222222            -0.691161
17         1018  0.000000  0.262219          0.000000             1.468717
18         1019  0.527778  0.822661          0.444444            -1.102567
19         1020  0.861111  0.921010          1.000000            -1.513972
20         1021  0.277778  0.092932          0.666667             0.337352
21         1022  0.555556  0.966158          0.666667            -0.588310
22         1023  0.638889  0.125783          0.505556            -0.382607
23         1024  0.694444  0.705978          0.888889             0.851609
24         1025  0.722222  0.465485          1.000000            -0.074053
25         1026  0.388889  0.428882          0.505556             1.160163
26         1027  0.361111  0.465485          0.222222             0.645907
27         1028  0.027778  0.417001          0.666667             0.851609
28         1029  0.972222  0.565318          0.000000            -0.691161
29         1030  0.138889  0.678094          0.333333             0.440204
30         1031       NaN  0.540205          0.333333             0.131650
31         1032  0.194444  0.447745          0.505556             1.468717
32         1033  0.444444  0.017478          0.666667             0.131650
33         1034  0.055556  0.693455          0.666667             1.057312
34         1035       NaN  0.749437          0.505556             0.440204
35         1036  0.333333  0.018909          0.333333            -0.382607
36         1037  0.194444  0.531263          0.666667             1.468717
37         1038  0.666667  0.047772          0.505556            -0.896864
38         1039  0.000000  0.465485          0.222222            -1.411121
39         1040       NaN  0.433443          0.555556            -1.308269
40         1041  0.722222  0.361987          0.111111             0.131650
41         1042  0.138889  0.146065          1.000000            -1.102567
42         1043  0.166667  0.685189          0.888889             0.131650
43         1044  0.916667  0.131200          0.444444             0.851609
44         1045  0.333333  0.423938          0.555556             0.131650
45         1046  0.416667  0.028661          0.333333             1.160163
46         1047  0.944444  0.290982          0.505556             0.131650
47         1048  0.055556  0.714998          0.505556            -1.411121
48         1049  0.000000  0.576997          0.666667            -1.411121
49         1050       NaN  0.243772          0.888889             1.263015